# App data.
/data/initDB/*
/data/www/*

# Docker config files.
/.env
/docker-compose.override.yml

# Exclutions.
!/data/www/joomla
!/data/www/wordpress
!/data/www/wordpress-multisite
!/data/**/.gitkeep

# IDEs
.idea