# App data.
/data/apache24/*
/data/initDB/*
/data/www/*
/data/ca/*

# Docker config files.
/.env
/docker-compose.override.yml

# Exclutions.
!/data/apache24/my-domains.example
!/data/www/joomla
!/data/www/wp
!/data/www/wp-multisite
!/**/.gitkeep

# IDEs
.idea