# Configure the Use statement with your external domain followed by the php version you want to use
# On Wordpress only the default mapped php version still working (MAP_POT_80, MAP_POT_443)
# Also needed is to add your domains in your .env file for SSL_DOMAINS starting with a space and EXTRA_HOSTS
#
# Example for .env file:
#   EXTRA_HOSTS=example.org=127.0.0.1,www.example.org=127.0.0.1,other-example.org=127.0.0.1,www.example.org=127.0.0.1
#   SSL_DOMAINS= example.org,www.example.org other-example.org,www.other-example.org
#
# Example for Document Root folder is:
#   ./data/www/example.org or example.org in the path of your WWW_BASEDIR variable
#   ./data/www/other-example.org or other-example.org in the path of your WWW_BASEDIR variable
#
# Example call is:
#   Use VHost example.org ""
#   Use VHost other-example.org ""
#
# You can set aliases for the domain in the second parameter
#
# Example for Document Root folder is:
#   ./data/www/example.org or example.org in the path of your WWW_BASEDIR variable.
#     The domain other-example.org will be set as alias for example.org.
#     Additionaly we will catch all subdomains of example.org
#
# Example call is:
#   Use VHost example.org "*.example.org other-example.org"
#
# The subdomain www. will be set automatically for all domains (not aliases) called here.
# Separate multiple aliases with a space. Surround multiple aliases with double quotation marks ("")
# If no alias is needed, set empty double quotation marks.
#
#Use VHost example.org "*.example.org other-example.org"
